
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isUserAuthenticated() {
      return request.auth != null;
    }

    function isRequestingOwnData(userId) {
      return isUserAuthenticated() && request.auth.uid == userId;
    }

    function isUserAdmin() {
      return isUserAuthenticated() && get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.role == 'admin';
    }

    match /ejercicios_futsal/{exerciseId} {
      allow read: if true;
      allow write: if isUserAdmin();
    }

    match /usuarios/{userId} {
      allow read: if isRequestingOwnData(userId) || isUserAdmin();
      allow write: if isRequestingOwnData(userId) || isUserAdmin();
      allow create: if isRequestingOwnData(userId);

      match /user_favorites/{favoriteId} {
        allow read, write, delete: if isRequestingOwnData(userId);
      }

      match /team/{docId} { // roster, attendance
        allow read, write: if isRequestingOwnData(userId);
      }
    }

    match /mis_sesiones/{sessionId} {
        allow read, write, delete: if isUserAuthenticated() && resource.data.userId == request.auth.uid;
        allow create: if isUserAuthenticated() && request.resource.data.userId == request.auth.uid;
    }

    match /partidos_estadisticas/{matchId} {
        allow read, write, delete: if isUserAuthenticated() && resource.data.userId == request.auth.uid;
        allow create: if isUserAuthenticated() && request.resource.data.userId == request.auth.uid;
    }
    
    match /support_chats/{chatId} {
      allow read, write: if isUserAuthenticated() && resource.data.userId == request.auth.uid;
      allow create: if isUserAuthenticated() && request.resource.data.userId == request.auth.uid;
    }

    match /user_page_views/{userId} {
        allow read: if isUserAdmin() || isRequestingOwnData(userId);
        allow write: if isRequestingOwnData(userId);
    }
  }
}
